@main("Welcome to Play") {

    <div class="row">
        <div class="col s6 offset-s3">
            <h4>Courses</h4>
            <table class="striped">

                <thead>
                    <tr>
                        <th data-field="id">Id</th>
                        <th data-field="course">Course</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Project Management 101</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>NET Technology</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}

